html {
  font-family: "Noto Serif", serif;
  background-color: #fff;
}

header {
  background-color: #70ad55;
  color: #fff;
}

.first {
  border: 1px solid #70ad55;
  border-top: none;
  border-right: none;
  border-left: none;
}

.opt {
  color: #70ad55;
}

textarea {
  min-height: 10rem;
}

input, textarea, select {
  border-color: #6e8c62;
}


input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #6e8c62;
}

.green {
  color: #70ad55;
}

.textbox {
  height: 10em;
}

fieldset {
  border-top: none;
}

hr {
  border-color: rgba(112, 173, 85, .3);
}

.left-box {
  padding-right: .5em;
}

.right-box {
  padding-left: .5em;
}

@media only screen and (min-width: 38em) {

  .different {
    padding-right: 1.5rem;
  }

}
